#Dependencies
/node_modules
/.pnp
.pnp.js

# Build files
/build
/dist
/.next
/out

# Cache
/.cache

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Misc
*.log
*.tmp
*.temp
